<div class="wrapper" appNavbar [ngClass]="{'closed':!isMenuOpen }">
  <div class="logo">
    <img *ngIf="isMenuOpen" src="./assets/icon/logo/Logo.svg" alt="">
    <img *ngIf="!isMenuOpen" click-stop-propagation (click)="toggleMenu(true)" class='logo-button'
      src="./assets/icon/logo/LogoButton.svg" alt="">
  </div>
  <hr>
  <div class="navigations">
    <div class="navigation" *ngFor="let navigation of navigations">
      <app-navigation-chain [isMenuOpen]="isMenuOpen" [curentUrl$]="curentUrl$" [navigation]="navigation">
      </app-navigation-chain>
    </div>
  </div>
</div>
