<div class="wrapper">
  <div class="header">
    <div class="info">
      <div class="position">
        <svg-icon src='/assets/icon/pages/Services.svg'>
        </svg-icon>
        <div class="text">
          <div class="title">Services</div>
          <div class="navigation-chains">
            Infrastructure / Services
          </div>

        </div>

      </div>

    </div>

    <div class="menu">
      <button class="safe-t-primary add">Add new</button>
      <button class="safe-t-primary remove">Remove</button>
    </div>

  </div>
  <hr>

  <div class="content">





  </div>
</div>
