.wrapper {
  width: 90%;
  background-color: white;
  height: 100%;
  padding: 0 60px;
  font-family: "Open Sans";
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: baseline;

    .menu {
      display: flex;
      justify-content: end;
      margin: 5px 0;
    }
    .info {
      .text {
        color: #1a242d;
        font-weight: 600;
        margin: 0 20px;
        .title {
          font-size: 22px;
          line-height: 30px;
        }
        .navigation-chains {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
  }
  .position {
    display: flex;
    svg-icon {
      margin: auto;
      display: flex;
    }
  }
  hr {
    margin: 10px 0;
  }
  .content {
    mat-table {
      width: 100%;
    }
  }
}
